{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container bag-content mb-2 content">
    <!-- Page heading -->
    <div class="row">
        <div class="col">
            <h2 class="text-center mt-5 site-titles"><strong>Shopping Cart</strong></h2>

        </div>
    </div>
    {% if cart_items %}
    <div class="row">
        {% for item in cart_items %}
        <div class="col-md-3 mt-4">
            <!-- Product Image -->
            {% if item.service.image %}
            <img class="img-fluid rounded bag-img" src="{{ item.service.image.url }}">
            {% else %}
            <img class="img-fluid rounded bag-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.service.name }}">
            {% endif %}
        </div>
        <div class="col-md-4 mt-4">
            <!-- Product Name & SKU -->
            <p class="my-0"><strong>{{ item.service.name }}</strong></p>
            <!-- Product Price -->
            <p class="my-0">Price: €{{ item.service.price }}</p>
            <!-- Total price of item by quantity -->
            <p class="my-0">Total: {{ item.service.price }}</p>

        </div>
        <div class="col-md-5 mt-4">
            <form method="POST" action="{% url 'adjust_cart' item.item_id %}" class="form update-form">
                <!-- Bag Item Quantity -->
                {% csrf_token %}
                <div class="form-group">
                    <p>Qty:</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <!-- Decrement Quantity -->
                            <button class="decrement-qty btn btn-small btn-sm rounded-0" data-item_id="{{ item.item_id }}"
                                id="decrement-qty_{{ item.item_id }}">
                                <span class="icon">
                                    <i class="fas fa-minus fa-sm"></i>
                                </span>
                            </button>
                        </div>
                        <!-- Manual Input Quantity -->
                        <input class="form-control form-control-sm qty_input text-center" type="number" name="quantity"
                            value="{{ item.quantity }}" min="1" max="3" data-item_id="{{ item.item_id }}"
                            id="id_qty_{{ item.item_id }}">
                        <div class="input-group-append">
                            <!-- Increment Quantity -->
                            <button class="increment-qty btn btn-small rounded-0" data-item_id="{{ item.item_id }}"
                                id="increment-qty_{{ item.item_id }}">
                                <span class="icon">
                                    <i class="fas fa-plus fa-sm"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Update and Remove product buttons -->
            <a class="update-link text-info bag-btn"><small>Update</small></a>
            <a class="remove-item text-danger float-right bag-btn"
                id="remove_{{ item.item_id }}"><small>Remove</small></a>
        </div>
        {% endfor %}
    </div>

    <!-- Bag Total, Delivery Price & Grand Total -->
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-end text-right">
            <h6 class=""><strong>Total: €{{ total|floatformat:2 }}</strong></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end text-right">
            <h6 class="text-decoration-line-through">Delivery: {{ delivery|floatformat:2 }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end text-right">
            <h4 class=""><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-12">
            <!--Return to Products Button -->
            <div class="row">
                <div class="col-6 d-flex justify-content-start">
                    <a href="{% url 'services' %}" class="btn rounded-4 btn-lg btn-other">
                        <span class="text-uppercase">
                            <i class="fas fa-chevron-left"></i>
                            <span> Continue Shopping </span>
                        </span>
                    </a>
                </div>
                <!-- Checkout Button -->
                <div class="col-6 d-flex justify-content-end">
                    <a href="{% url 'checkout' %}" class="btn rounded-4 btn-lg btn-shop">
                        <span>
                            <i class="fa-solid fa-unlock bag-btn-font"></i>
                            <span class="text-uppercase bag-btn-font">Secure Checkout</span>
                            <i class="fas fa-chevron-right bag-btn-font"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <!-- If not bag items notify user the bag is empty & link back to products page -->
            <p class="lead mb-5">Your cart is empty.</p>
            <a href="{% url 'services' %}" class="btn btn-other rounded-4 btn-lg shop-btn logo">
                <span>
                    <i class="fas fa-chevron-left"></i>
                </span>
                Continue Shopping
            </a>
        </div>
    {% endif %}
    </div>
 </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'services/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>
{% endblock %}