{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="container-fluid home-page-image">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 logo-font">Friendly Fitness</h1>
                <div>
                    <h4>
                        <a href="{% url 'services' %}" class="btn btn-lg site-font rounded-0 text-uppercase py-3">Shop</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}