body {
    background-color: #D3D3D3;
}

.home-page-image {
    background: url('/media/woman_excercising_from_home.jpg') no-repeat center center fixed;
    background-size: auto;
    height: calc(100vh - 164px);
    color: #555;
}

/* --------- Header Nav ------------*/

.navbar {
    background-color: #5C0F3E;
}

.navbar-brand {
    font-family: 'Roboto';
    font-size: 2rem;
    color: white;
}

.nav-link,
.nav-item {
    font-family: 'Lato';
    color: white;
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
}

/* ---------------- Across Site Elements --------------- */
.update-link,
.remove-item {
    cursor: pointer;
}

.logo-font {
    font-family: 'Roboto';
}

.site-font {
    font-family: 'Lato';
    color: #000;
}

.price-icon {
    font-size: 3rem;
    color: #5C0F3E;
}

.site-titles {
    font-size: 4rem;
    color: #5C0F3E;
}

.btn-shop {
    background-color: orange;
    color: black;
}

.btn-shop-home {
    background-color: orange;
    color: black;
}

.btn-other {
    background-color: #5C0F3E;
    color: black;
    color: white;
}

.btn-training {
    width: 80vw;
    background-color: rgba(255, 166, 0, 0.442);
    color: black;
}

.btn-training:hover,
.btn-training:active {
    width: 80vw;
    background-color: #5C0F3E; 
    color: white;
}

.btn-small {
    background-color: #5C0F3E;
    color: white;
}

.text-sections {
    font-size: 1.5rem;
}

.text-white {
    color: white;
}

.fb-logo {
    color: white;
    font-size: 2rem;
}

/*------------Service Pages -------------*/

.card-design {
    background-color: #D3D3D3;
}

.card-img-top {
    min-height: 237.33px;
    max-height: 237.33px;
}

/* ------------- Checkout Success Page ----------------  */

.border-orange {
    border: 2px solid orange;
    box-shadow: 3px 6px 25px rgba(0, 0, 0, 0.384);
}

.recipt-font {
    font-size: 1.25rem;
}

.text-purple {
    color: #5C0F3E;
}

/* -------- Review Page and Forms ------------- */

.review-card {
    background-color: transparent;
    border: none;
}

.fa-star {
    color: orange;
}

.review-titles {
    font-size: 2rem;
    color: #5C0F3E;
}

.form-boxes {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 4px;
    background-color: white;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 4px;
    background-color: white;
    resize: none;
}

.radio-buttons {
    height: 25px;
    width: 25px;
    color: white;
    border-radius: 50%;
}

/* -------- Blog Page and Posts ------------- */

.blog-card {
    background-color: transparent;
}

.blog-text-black {
    color: black;
}

.post-link {
    text-decoration: none;
    color: #5C0F3E;
}

/* -------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */


.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

footer {
    background-color: #5C0F3E;
    margin-top: 100px;
}

/* ---------------- Mailchimp ------------------ */

#mc_embed_signup{
    color: white;
    background: #5C0F3E;
    font-family: 'Roboto';
}


/* --------------- Media Queries --------------- */


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: black; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: black;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: orange;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 25px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #2ebbc5;
}

.form-control
{
    color: #000;
    border: 1px solid orange;
    margin-bottom: 1rem;
}


/* --------- Media Queries --------- */

/* Large */
@media (min-width: 1200px) {

}

/* Medium */
@media (max-width: 830px) {
    .home-page-image {
        background: url('/media/woman_excercising_from_home.jpg') no-repeat center center;
        background-size: contain;
        background-position: top;
        position: relative;
        height: 50vh;
        color: #555;
    }

    .text-sections {
        font-size: 1.25rem;
    }
}

/* Small */
@media (max-width: 440px) {
    .home-page-image {
        background: url('/media/woman_excercising_from_home.jpg') no-repeat center center;
        background-size: cover;
        background-position: top;
        position: relative;
        height: 30vh;
        color: #555;
    }

    .btn-shop-home {
        background-color: orange;
        color: black;
        font-size: .75rem;
    }

    .site-titles {
        font-size: 3rem;
        color: #5C0F3E;
    }

    .text-sections {
        font-size: 1rem;
    }

    .recipt-font {
        font-size: 1rem;
    }

    .fb-section {
        margin-top: 25px;
    }
}