.page-title {
    font-family: 'Roboto';
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* -------- Bootstrap Toasts -------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* --------- Media Queries --------- */

/* Large */
@media (min-width: 1200px) {

}

/* Medium */
@media (min-width: 992px) {

}